@keyframes image-viewer-zoom-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes image-viewer-loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.image-viewer-item > img {
    cursor: pointer;
}

.image-viewer {
    display: none;
}

.image-viewer-loader {
    width: 48px;
    height: 48px;
    border: 4px solid #c0c0c0;
    border-top-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: image-viewer-loading 1s linear infinite;
}

.image-viewer.image-viewer-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    animation: image-viewer-zoom-show 300ms;
}

.image-viewer > img {
    max-width: 90%;
    max-height: 90%;
    background: #fff;
    box-shadow: 0 0 8px #000;
}

.image-viewer > .image-viewer-close, .image-viewer > .image-viewer-prev, .image-viewer > .image-viewer-next {
    position: absolute;
    margin: 0;
    padding: 0;
    background: none;
    color: rgba(255, 255, 255, .5);
    border: none;
    text-shadow: 0 0 8px rgba(0, 0, 0, .5);
    cursor: pointer;
    outline: none;
    transition: 300ms;
}

.image-viewer > .image-viewer-close:hover, .image-viewer > .image-viewer-prev:hover, .image-viewer > .image-viewer-next:hover {
    color: #fff;
}

.image-viewer > .image-viewer-close {
    top: 8px;
    right: 16px;
    font-size: 32px;
}

.image-viewer > .image-viewer-prev {
    left: 16px;
    font-size: 64px;
}

.image-viewer > .image-viewer-next {
    right: 16px;
    font-size: 64px;
}